@import "./reset.css";
@import "./variables.css";
@import "./typography.css";
@import "./utilities.css";
@import "./components.css";

body{
    background:var(--color-bg);
    color:var(--color-text);
    font-family:Cairo,sans-serif;
}