.btn{
    border:none;
    outline:none;
    cursor:pointer;
    padding:14px 28px;
    border-radius:14px;
    font-size:16px;
    font-weight:600;
    transition:.3s;
}

.btn-primary{
    background:#5B4DFF;
    color:white;
}

.btn-primary:hover{
    opacity:.9;
}

.btn-danger{
    background:#EF4444;
    color:white;
}

.btn-success{
    background:#22C55E;
    color:white;
}

.btn:disabled{
    opacity:.5;
    cursor:not-allowed;
}